.jumbotron {
  padding-top: 7rem;
  background-color: #e6c3d6;
}
.about {
  background-color: #fcf6ea;
}
#projects {
  background-color: #f5b66d;
}
#contact {
  background-color: #faebd7;
}
section {
  padding-top: 5rem;
}
#hoby {
  background-color: #b1c29e;
}
html {
  scroll-behavior: smooth;
}
